.footer-fuck{
    text-align: center;
    font-size: 1rem;
    color:cadetblue;
    padding:10px 10px 10px 10px;
    /* position: absolute; */
    bottom: 0;
    z-index: 1000;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */





   /*  position: absolute;
    bottom: 0;
    z-index: 1000;
    margin-bottom: 100px;  */ 
    /* .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-content{
            background-color: red;
            color:cadetblue;
            padding:10px 10px 10px 10px;
        }
    } */
}